In [1]:
import pandas as pd

In [4]:
# Specify the path to the CSV file
file_path = '../data/extracted_data.csv'  # Adjust the path if necessary

In [5]:

df = pd.read_csv(file_path)

In [7]:
df.head()

,_id,formhub/uuid,starttime,endtime,cd_survey_date,sec_a/unique_id,sec_a/cd_biz_country_name,sec_a/cd_biz_region_name,sec_b/bda_name,sec_b/cd_cohort,...,_uuid,_attachments,_status,_geolocation,_submission_time,_tags,_notes,_validation_status,_submitted_by,sec_c/cd_phoneno_alt_number
0,375105515,a7eb959ada4c485b8334ee761ab1e4a7,2024-08-24T09:44:06.712+02:00,2024-08-24T09:44:39.156+02:00,2024-08-24,SS01406240716114357,South Sudan,Juba,Mussie Measho,Cohort 2,...,5c59e249-b88e-4742-abb6-942f79627cb6,NaN,submitted_via_web,"None, None",2024-08-24T07:45:34,NaN,NaN,{},NaN,NaN
1,375106171,a7eb959ada4c485b8334ee761ab1e4a7,2024-08-24T09:45:37.053+02:00,2024-08-24T09:47:45.742+02:00,2024-08-23,SS01406240716125742,Rwanda,Kigali City,Barnabe Ntigurirwa,Cohort 2,...,a19e131f-a0ed-4934-9f90-6fd5562d1eb5,NaN,submitted_via_web,"None, None",2024-08-24T07:47:48,NaN,NaN,{},NaN,911286957.0
2,375106429,a7eb959ada4c485b8334ee761ab1e4a7,2024-08-24T09:47:45.795+02:00,2024-08-24T09:48:36.977+02:00,2024-08-26,SS01406240716132346,Kenya,Dadaab,Omar Abdi,Cohort 2,...,d121a14c-9df9-4c65-aa55-d04e48adf39e,NaN,submitted_via_web,"None, None",2024-08-24T07:48:38,NaN,NaN,{},NaN,925126776.0
3,375106577,a7eb959ada4c485b8334ee761ab1e4a7,2024-08-24T09:48:37.064+02:00,2024-08-24T09:49:05.070+02:00,2024-08-22,SS01406240716143058,South Sudan,Maban,Abdalla Jato Almas,Cohort 2,...,e1caa20b-a02f-4536-b32d-bdf9b148d47d,NaN,submitted_via_web,"None, None",2024-08-24T07:49:07,NaN,NaN,{},NaN,910014559.0
4,375106609,a7eb959ada4c485b8334ee761ab1e4a7,2024-08-24T09:48:34.903+02:00,2024-08-24T09:49:12.004+02:00,2024-08-24,SS01406240716100553,South Sudan,Maban,Abdalla Jato Almas,Cohort 2,...,af4e248b-18ef-4b73-9651-54e57946e4f4,NaN,submitted_via_web,"None, None",2024-08-24T07:49:13,NaN,NaN,{},NaN,927360888.0

In [12]:
print("\nData types:")
print(df.dtypes)

Data types:
_id                                       int64
formhub/uuid                             object
starttime                                object
endtime                                  object
cd_survey_date                           object
sec_a/unique_id                          object
sec_a/cd_biz_country_name                object
sec_a/cd_biz_region_name                 object
sec_b/bda_name                           object
sec_b/cd_cohort                          object
sec_b/cd_program                         object
sec_c/cd_client_name                     object
sec_c/cd_client_id_manifest              object
sec_c/cd_location                        object
sec_c/cd_clients_phone                    int64
sec_c/cd_clients_phone_smart_feature     object
sec_c/cd_gender                          object
sec_c/cd_age                              int64
sec_c/cd_nationality                     object
sec_c/cd_strata                          object
sec_c/cd_disability                      object
sec_c/cd_education                       object
sec_c/cd_client_status                   object
sec_c/cd_sole_income_earner              object
sec_c/cd_howrespble_pple                  int64
group_mx5fl16/cd_biz_status              object
group_mx5fl16/bd_biz_operating           object
__version__                              object
meta/instanceID                          object
_xform_id_string                         object
_uuid                                    object
_attachments                            float64
_status                                  object
_geolocation                             object
_submission_time                         object
_tags                                   float64
_notes                                  float64
_validation_status                       object
_submitted_by                           float64
sec_c/cd_phoneno_alt_number             float64
dtype: object

In [13]:
missing_values = df.isnull().sum()
missing_percentages = 100 * df.isnull().sum() / len(df)
missing_table = pd.concat([missing_values, missing_percentages], axis=1, keys=['Missing Values', 'Percentage'])
print("\nMissing values:")
print(missing_table)

Missing values:
                                      Missing Values  Percentage
_id                                                0    0.000000
formhub/uuid                                       0    0.000000
starttime                                          0    0.000000
endtime                                            0    0.000000
cd_survey_date                                     0    0.000000
sec_a/unique_id                                    0    0.000000
sec_a/cd_biz_country_name                          0    0.000000
sec_a/cd_biz_region_name                           0    0.000000
sec_b/bda_name                                     0    0.000000
sec_b/cd_cohort                                    0    0.000000
sec_b/cd_program                                   0    0.000000
sec_c/cd_client_name                               0    0.000000
sec_c/cd_client_id_manifest                        0    0.000000
sec_c/cd_location                                  0    0.000000
sec_c/cd_clients_phone                             0    0.000000
sec_c/cd_clients_phone_smart_feature               0    0.000000
sec_c/cd_gender                                    0    0.000000
sec_c/cd_age                                       0    0.000000
sec_c/cd_nationality                               0    0.000000
sec_c/cd_strata                                    0    0.000000
sec_c/cd_disability                                0    0.000000
sec_c/cd_education                                 0    0.000000
sec_c/cd_client_status                             0    0.000000
sec_c/cd_sole_income_earner                        0    0.000000
sec_c/cd_howrespble_pple                           0    0.000000
group_mx5fl16/cd_biz_status                        0    0.000000
group_mx5fl16/bd_biz_operating                    20   46.511628
__version__                                        0    0.000000
meta/instanceID                                    0    0.000000
_xform_id_string                                   0    0.000000
_uuid                                              0    0.000000
_attachments                                      43  100.000000
_status                                            0    0.000000
_geolocation                                       0    0.000000
_submission_time                                   0    0.000000
_tags                                             43  100.000000
_notes                                            43  100.000000
_validation_status                                 0    0.000000
_submitted_by                                     43  100.000000
sec_c/cd_phoneno_alt_number                       20   46.511628